
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5rem;
    font-family: Grenze Gotisch, sans-serif;
    margin-bottom: 1rem;
}

hr{
    align-items: center;
    width: 80%;
     border: 0;
     border-top: 1.75px solid #C67402;
    margin: .5em auto 0;
}

.nav-btn{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: serif;
    padding: 1rem;
    border: 1px solid #074F07;
    border-radius: .5em;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    background-color: #C67402;
    color: white;
    box-shadow: 1px 5px 5px #296B55;
}

.nav-btn:hover{
    background-color: #296B55;
    outline: 2px solid #074F07;
    outline-offset: 4px;
}

.nav-btn:focus{
    background-color: #F4E4C8;
    color: #074F07;
    outline: 2px solid #074F07;
    outline-offset: 4px;
}

.card-stack {
  display: flex;
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  justify-content: center; /* centers all the cards */
  gap: 2rem; /* adds space between them */
  padding-inline: 1rem; /* adds margin between cards & viewport on mobile */
}

.card {
  flex: 1 1 300px; /* base width 300px, can grow/shrink */
  max-width: 400px; /* prevents huge scaling on wide screens */
  background: #D0D9CD;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  transition: transform 0.3s ease-in-out; 
}

.card-img {
  width: 100%;
  height: 300px;
  border-radius: 4px;;
  display: block;
  object-fit: cover;
  margin-bottom: 1em;
}

.card:hover{
    transform: scale(1.1);
}

.card > p{
    margin: 0;
}

.recipe-name{
    font-size: 2rem;
    font-family: sans-serif;
}


article{
    display: block;
    width: 100%;
    margin-left: 2rem;
}

.img{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-top: 1em;
}

#pumpkin{
    width: 30%;
}

#peanut{
    width: 30%;
}

#pizza{
    width: 30%;
}

#recipe-description h2, #recipe-ingredients h2, #recipe-steps h2 {
    font-family: Grenze Gotisch, sans-serif;
    font-size: 2.5rem;
}

#recipe-description{
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: large;
}

#recipe-ingredients{
    border: 2px solid #296B55;
    width: 40%;
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 5px #296B55;
}

ul li, ol li{
    margin-bottom: .75rem;
    margin-left: 2rem;
}

ul{
    list-style-type: none;
}

#buttons{
    margin-left: 10em;
}

#save-btn, #print-btn{
    padding: 10px;
    border-radius: 10%;
    margin: 1rem;
    box-shadow: 3px 3px 5px #296B55;
    background-color: #D0D9CD;
}